# Trend Youtube

In [81]:
import numpy as np
import pandas as pd
import re
import matplotlib as mpl
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from nltk.corpus import stopwords
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
from pyspark.sql.functions import col, mode, mean, median
from pyspark.ml.feature import StringIndexer, VectorAssembler

In [82]:
# spark = SparkSession.builder.appName("Youtube Trend").getOrCreate()

df1 = pd.read_csv('youtube1.csv')
df2 = pd.read_csv('youtube2.csv')
df3 = pd.read_csv('youtube3.csv')
df4 = pd.read_csv('youtube4.csv')
# df5 = pd.read_csv('youtube5.csv')

df = pd.concat(
    map(pd.read_csv, ['youtube1.csv', 'youtube2.csv', 'youtube3.csv', 'youtube4.csv']), 
    ignore_index=True)
print(df)

                                                 Title  \
0    Call of Duty League Major III Tournament | Cha...
1     I Tried Every Seat on the Most Expensive Airline
2    Inside the NBA Reacts To Timberwolves Stunning...
3                      I protected a LEGO PRESIDENT...
4    #3 TIMBERWOLVES at #2 NUGGETS | FULL GAME 7 HI...
..                                                 ...
795  Etho Plays Minecraft - Episode 586: Chaos To O...
796                    $30,000,000 AI Is Hiding a Scam
797  A Boogie Wit da Hoodie - Body (feat. Cash Coba...
798                           AU$TRALIA: A Travel Game
799                             DRAKE - FAMILY MATTERS

                                           Description  \
0    Welcome to the #CDL2024 Major III Tournament! ...
1    I owed a guy a favor\nsign up for shopify for ...
2    Watch highlights from Inside the NBA with Shaq...
3    Submit a banger video idea here: https://forms...
4    Never miss a moment with the latest news, tren...
..                                                 ...
795  We return from a 3 month break to take on the ...
796  It's time to see how far the Rabbit hole goes....
797  A Boogie Wit da Hoodie - Body (feat. Cash Coba...
798  Watch episode 2 of Jet Lag: AU$TRALIA now: htt...
799                                                NaN

                                          Thumbnail
0    https://i.ytimg.com/vi/LhgNWp0evvY/default.jpg
1    https://i.ytimg.com/vi/ymvjfu_Hm_8/default.jpg
2    https://i.ytimg.com/vi/MT11io1YWig/default.jpg
3    https://i.ytimg.com/vi/GJKAmywYTgQ/default.jpg
4    https://i.ytimg.com/vi/IHTvqrEOVg4/default.jpg
..                                              ...
795  https://i.ytimg.com/vi/ChC2YPjArg8/default.jpg
796  https://i.ytimg.com/vi/NPOHf20slZg/default.jpg
797  https://i.ytimg.com/vi/RMT3AlAs0r8/default.jpg
798  https://i.ytimg.com/vi/rNxi1-UgV2I/default.jpg
799  https://i.ytimg.com/vi/ZkXG3ZrXlbc/default.jpg

[800 rows x 3 columns]

In [83]:
# Null Count for the entire Dataset
print(df.isnull().sum().sum())

# Null Count for spesific column
print(df.isna().sum())

25
Title           0
Description    25
Thumbnail       0
dtype: int64

In [84]:
# Deleting Null Contains Rows and re-index entire dataset
df = df.dropna().reset_index()
df = df.drop(columns=['index'])
print(df)

                                                 Title  \
0    Call of Duty League Major III Tournament | Cha...
1     I Tried Every Seat on the Most Expensive Airline
2    Inside the NBA Reacts To Timberwolves Stunning...
3                      I protected a LEGO PRESIDENT...
4    #3 TIMBERWOLVES at #2 NUGGETS | FULL GAME 7 HI...
..                                                 ...
770       SIDEMEN AMONG US JESTER ROLE: JYNXZI EDITION
771  Etho Plays Minecraft - Episode 586: Chaos To O...
772                    $30,000,000 AI Is Hiding a Scam
773  A Boogie Wit da Hoodie - Body (feat. Cash Coba...
774                           AU$TRALIA: A Travel Game

                                           Description  \
0    Welcome to the #CDL2024 Major III Tournament! ...
1    I owed a guy a favor\nsign up for shopify for ...
2    Watch highlights from Inside the NBA with Shaq...
3    Submit a banger video idea here: https://forms...
4    Never miss a moment with the latest news, tren...
..                                                 ...
770  Shoutout the greatest Jester to ever live @Jyn...
771  We return from a 3 month break to take on the ...
772  It's time to see how far the Rabbit hole goes....
773  A Boogie Wit da Hoodie - Body (feat. Cash Coba...
774  Watch episode 2 of Jet Lag: AU$TRALIA now: htt...

                                          Thumbnail
0    https://i.ytimg.com/vi/LhgNWp0evvY/default.jpg
1    https://i.ytimg.com/vi/ymvjfu_Hm_8/default.jpg
2    https://i.ytimg.com/vi/MT11io1YWig/default.jpg
3    https://i.ytimg.com/vi/GJKAmywYTgQ/default.jpg
4    https://i.ytimg.com/vi/IHTvqrEOVg4/default.jpg
..                                              ...
770  https://i.ytimg.com/vi/mZX579jBnzI/default.jpg
771  https://i.ytimg.com/vi/ChC2YPjArg8/default.jpg
772  https://i.ytimg.com/vi/NPOHf20slZg/default.jpg
773  https://i.ytimg.com/vi/RMT3AlAs0r8/default.jpg
774  https://i.ytimg.com/vi/rNxi1-UgV2I/default.jpg

[775 rows x 3 columns]

In [85]:
def create_title_sentence(row):
    # Handle multiple cuisines
    title = row['Title']
    if pd.isnull(title):  # Check if cuisines is null
        title = ""
    else:
        title = ' '.join(re.split('[|,;:.!?-]', title))
        # title = ' '.join(title.split('-'))
        # title = ' '.join(title.split('|'))
        
    
    # Return the sentence
    return f"Title: {title}"

# Apply the function to create a new column 'cuisine_sentence' in chefmozcuisine
df['title_sentences'] = df.apply(create_title_sentence, axis=1)
print(df['title_sentences'])

0      Title: Call of Duty League Major III Tournamen...
1      Title: I Tried Every Seat on the Most Expensiv...
2      Title: Inside the NBA Reacts To Timberwolves S...
3                 Title: I protected a LEGO PRESIDENT
4      Title: #3 TIMBERWOLVES at #2 NUGGETS   FULL GA...
                             ...
770    Title: SIDEMEN AMONG US JESTER ROLE  JYNXZI ED...
771    Title: Etho Plays Minecraft   Episode 586  Cha...
772               Title: $30 000 000 AI Is Hiding a Scam
773    Title: A Boogie Wit da Hoodie   Body (feat  Ca...
774                      Title: AU$TRALIA  A Travel Game
Name: title_sentences, Length: 775, dtype: object

In [87]:
vectorizer = TfidfVectorizer(stop_words=stopwords.words('english'))
tfidf_matrix = vectorizer.fit_transform(df['Title'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)